/*Lets style the calc*/
@font-face {
  font-family: "Digi";
  src: url("../fonts/digital-7.ttf");
  src: url("../fonts/digital-7-webfont.woff") format("woff");
}

body{
  font-family: 'Digi';
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
  margin-top: 30px;
  height: 90vh;
  border-radius: 25px;
  border: 25px solid rgba(199, 199, 199, 0.21);
}

.screen{
  background-color: #eee;
  padding: 20px;
  font-size: 48px;
  min-height: 120px;
}

.btn{
  margin: 10px;
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.body_container{
  padding: 20px;
  background-color: white;
  border-radius: 35px;
}
